@charset "UTF-8";
/* header디자인 */
header .wrapHeader {
    width: auto;
    margin: 0 80px;
}
header .nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    background: #85a36a;
    padding-top: 18px;
    width: 100%;
    height: 100vh;
    align-items: flex-end;
    transform: translateX(150%);
    transition: all 0.7s;
}
header .nav.on{
    transform: translateX(0);
}
header .nav>a{
    text-align: right;
    padding: 20px 80px 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384) ;
    border-top: 1px solid rgba(255, 255, 255, 0.384);
    right: 0;
    width: 100%;
    color: white;
}
header .nav a:nth-child(2){
    margin-top: 80px;
}
header .wrapHeader span,
header .wrapHeader .nav span{
    display: block;
    position: absolute;
    right: 80px;
    font-size: 2.3rem;
    color: #205c40;
    font-weight: 500;
}
header .wrapHeader .nav span{
    color: white;
    top: 25px;
}
header .button {
    margin-right: 80px;
}
header .nav>a::after {
    display: none;
}
.subNav {
    height: 650px;
    background: none;
    width: 100%;
    cursor: none;
    pointer-events: none;
    transition: all 0.7s;
}

.subNav>div {
    border-right: none;
    text-align: right;
    position: absolute;
    padding-right: 80px;
    width: 100%;
    display: none;
}
.subNav>div:first-child{
    top: 100px;
}
.subNav>div:nth-child(2){
    top: 170px;
}
.subNav>div:nth-child(3){
    top: 225px;
}
.subNav>div:nth-child(4){
    top: 305px;

}
.subNav>div:nth-child(5){
    top: 370px;

}
.subNav div a {
    color: white;
    font-size: 1.1rem;
}

.subNav div .subMenu {
    display: flex;
    flex-direction: column;
}

.subNav div .subMenu a {
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
}

.subNav div a:hover {
    color: #205c40;
    font-weight: 600;
}
/* inner디자인 */
.wrapTop {
    width: auto;
    margin: 0 80px;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
}