@charset "UTF-8";
/* header디자인 */
header .wrapHeader {
    width: auto;
    margin: 0 80px;
}
header .nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15;
    flex-direction: column;
    background: #85a36a;
    padding-top: 18px;
    width: 100%;
    height: 100vh;
    align-items: flex-end;
    transform: translateY(-100%);
    transition: all 0.5s;
}
header .nav.on{
    transform: translateY(0);
    transition: all 0.5s;
}
header .nav>a{
    text-align: right;
    padding: 20px 80px 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384) ;
    right: 0;
    width: 100%;
    color: white;
}
header .nav a:nth-child(2){
    margin-top: 80px;
}
header .wrapHeader span,
header .wrapHeader .nav span{
    display: block;
    position: absolute;
    right: 80px;
    font-size: 2.3rem;
    color: #205c40;
    font-weight: 500;
}
header .button {
    margin-right: 80px;
}
header .nav>a::after {
display: none;
}
header .nav>a:hover {
    border-bottom: 1px solid #205c40;
}
.subNav {
    height: 0;
    overflow-y: hidden;
    background: #f8f8f8ec;
    position: absolute;
    top: 80px;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
}

.subNav>div {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 10px;
    padding: 0 0 20px 0;
    border-right: 1px solid rgb(218, 218, 218);
}

.subNav>div:last-child {
    border: none;
}

.subNav div a {
    font-size: 1rem;
    padding: 10px 0 7px 0;
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 500;
}

.subNav div .subMenu {
    display: flex;
    flex-direction: column;
}

.subNav div .subMenu a {
    font-size: 0.8rem;
    padding: 0 0 3px 5px;
    color: rgb(80, 80, 80);
}

.subNav div a:hover {
    color: #205c40;
    font-weight: 600;
}
.subNav.on {
    display: flex;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    height: 560px;
}