@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Google_Notosans_font */

html {
    font-size: 16px;
    background: #342D44;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* header디자인 */
header {
    background: #342D44;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
}
header .wrap {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .logo {
    background: url(../img/Logo_star.svg) no-repeat;
    background-position: center;
    width: 175px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
}

.navButton,
.navButton span {
    display: inline-block;
    transition: all .4s;
}

.navButton {
    position: relative;
    width: 32px;
    height: 28px;
}

.navButton span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FFF4D7;
    border-radius: 3px;
    z-index: 15;
}

.navButton span:nth-of-type(1) {
    top: 0;
}

.navButton span:nth-of-type(2) {
    top: 13px;
}

.navButton span:nth-of-type(3) {
    bottom: 0;
}


/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.navButton.active-1 span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
    background: #2F2725;
}

.navButton.active-1 span:nth-of-type(2) {
    opacity: 0;
}

.navButton.active-1 span:nth-of-type(3) {
    transform: translateY(-13px) rotate(45deg);
    background: #2F2725;

}
header .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    flex-direction: column;
    background: #fffdf7d8;
    transform: translateX(100%);
    transition: transform 0.5s;
    box-shadow: 6px 6px 9px 2px #342D44;
}
header .menu a{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    color: #2F2725;
    text-align: right;
    padding: 20px 100px 30px 0;
    position: relative;
    width: 200px;
}
/* 밑줄효과 애니메이션 */
header .menu a::after {
    width: 0%;
    height: 4%;
    background: #514b5c;
    content: "";
    position: absolute;
    bottom: 20%;
    right: 40%;
    z-index: 10;
}

header .menu a:hover::after {
    width: 80%;
    transition: width 0.5s;
}

header .menu a:hover{
    color: #2F2725;
}

header .menu.on {
    transform: translateX(0);
}
/* inner 디자인 */

/* course bar design */
.st0 {
    fill: none;
    stroke: #2F2725;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #2F2725;
}
footer {
    height: 80px;
}
footer .cultureLogo {
    background: url(../img/Logo_cultural.svg) no-repeat;
}
footer .cultureLogo2 {
    background: url(../img/Logo_cultural2.svg) no-repeat;
    margin-left: 150px;
}
footer .cultureLogo,
footer .cultureLogo2 {
    background-size: contain;
    height: 80px;
    width: 120px;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    position:absolute;
    bottom: 0;
    left: 100px;
}
/* tab구조 */
  .course_sun{
    width: 500px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    right: 100px;
  }
  
  ul.tabs{
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  ul.tabs li{
    background: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  ul.tabs li.current{
    background: #ffffffab;
    color: #222;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
  }
  
  .tab-content{
    display: none;
    background: #ffffffab;
    padding: 15px;
    border-radius: 5px;
  }
  
  .tab-content.current{
    display: inherit;
  }
  .Tbox .place h1{
      font-size: 0.9rem;
      font-weight: 500;
  }
  .Tbox p{
      font-size: 0.9rem;
      font-weight: 400;
      margin: 15px 0;
      text-align: center;
  }
  .Tbox .place{
      display: flex;
      justify-content: space-around
  }
  .Tbox a{
      text-decoration: none;
      width: fit-content;
      font-size: 0.9rem;
      font-weight: 400;
      color: #FFF4D7;
      background: #342D44;
      padding: 5px 10px;
      border-radius: 5px;
  }
  /* map 구조 */
  .map{
      position: relative;
  }
  img {
      padding-top: 100px;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 760px;
  }
  /* 왼쪽 장소 설명박스 */
  .left {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    background: #fffdf7d8;
    transform: translateX(-100%);
    transition: transform 0.5s;
    box-shadow: 6px 6px 9px 2px #342D44;
}
.left.on {
    transform: translateX(0);
}
.left h1{
    font-size: 1.5rem;
    text-align: center;
}
.left div{
    height: 40%;
    background: black;
    text-align: center;
    margin: 30px 50px;
}
.left h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}