@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Google_Notosans_font */

html {
    font-size: 16px;
    background: #40305f;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* header디자인 */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
}

header .wrap {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .logo {
    background: url(../img/Logo_star.svg) no-repeat;
    background-position: center;
    width: 175px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
}

.navButton,
.navButton span {
    display: inline-block;
    transition: all .4s;
}

.navButton {
    position: relative;
    width: 32px;
    height: 28px;
}

.navButton span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FFF4D7;
    border-radius: 3px;
    z-index: 15;
}

.navButton span:nth-of-type(1) {
    top: 0;
}

.navButton span:nth-of-type(2) {
    top: 13px;
}

.navButton span:nth-of-type(3) {
    bottom: 0;
}


/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.navButton.active-1 span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
    background: #2F2725;
}

.navButton.active-1 span:nth-of-type(2) {
    opacity: 0;
}

.navButton.active-1 span:nth-of-type(3) {
    transform: translateY(-13px) rotate(45deg);
    background: #2F2725;

}

header .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    flex-direction: column;
    background: #f7f7f7bb;
    transform: translateX(100%);
    transition: transform 0.5s;
    box-shadow: 6px 6px 9px 2px #342D44;
}

header .menu a {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    color: #2F2725;
    text-align: right;
    padding: 20px 100px 30px 0;
    position: relative;
    width: 200px;
}

/* 밑줄효과 애니메이션 */
header .menu a::after {
    width: 0%;
    height: 4%;
    background: #514b5c;
    content: "";
    position: absolute;
    bottom: 20%;
    right: 40%;
    z-index: 10;
}

header .menu a:hover::after {
    width: 80%;
    transition: width 0.5s;
}

header .menu a:hover {
    color: #2F2725;
}

header .menu.on {
    transform: translateX(0);
}

/* inner 디자인 */

/* course bar design */
.st0 {
    fill: none;
    stroke: #2F2725;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #2F2725;
}

footer {
    height: 80px;
}

footer .cultureLogo {
    background: url(../img/Logo_cultural.svg) no-repeat;
}

footer .cultureLogo2 {
    background: url(../img/Logo_cultural2.svg) no-repeat;
    margin-left: 150px;
}

footer .cultureLogo,
footer .cultureLogo2 {
    background-size: contain;
    height: 80px;
    width: 120px;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 100px;
}

/* tab구조 */
.course_sun,
.course_night {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    right: 100px;
}

ul.tabs {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

ul.tabs li {
    background: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: #ffffffab;
    color: #222;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}

.tab-content {
    display: none;
    background: #ffffffab;
    padding: 15px;
    border-radius: 5px;
}

.tab-content.current {
    display: inherit;
}

.Tbox .place h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.Tbox p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
}

.Tbox .place {
    display: flex;
    justify-content: space-around
}

.Tbox a {
    text-decoration: none;
    width: fit-content;
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFF4D7;
    background: #342D44;
    padding: 5px 10px;
    border-radius: 5px;
}

/* 왼쪽 장소 설명박스 */
.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    background: #fffdf7d8;
    transform: translateX(-100%);
    transition: transform 0.5s;
    box-shadow: 3px 3px 5px 2px #342D44;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left.on {
    transform: translateX(0);
}

.left h1 {
    font-size: 1.5rem;
    text-align: center;
}

.left img {
    height: 40%;
    text-align: center;
    margin: 50px 50px;
}

.left h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    margin: 0 150px;
    color: #222;
    letter-spacing: 1px;
    line-height: 25px;
}

/* map 구조 */
.map {
    /* position: relative; */
    margin: 0 15px;
    padding-top: 100px;
}

.road {
    position: absolute;
    top: 200px;
    left: 340px;
    width: 1250px;
}

img[class^="place"] {
    position: absolute;
    cursor: pointer;
}

.place1 {
    top: 574px;
    left: 254px;
}

.place2 {
    top: 319px;
    left: 501px;
}

.place3 {
    top: 337px;
    left: 803px;
}

.place4 {
    top: 204px;
    left: 872px;
}

.place5 {
    top: 180px;
    left: 432px;
}

.place6 {
    top: 269px;
    left: 1200px;
}

.place7 {
    top: 629px;
    left: 961px;
}

.place8 {
    top: 493px;
    left: 1079px;
}

.place9 {
    top: 259px;
    left: 1145px;
}

.place10 {
    top: 144px;
    left: 1074px;
}

.star {
    position: absolute;
    top: 260px;
    left: 286px;
    width: 1131px;
    pointer-events: none;
    animation: light 3s forwards;
}

@keyframes light {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.tree {
    position: absolute;
    top: 201px;
    left: 439px;
    width: 1127px;
    pointer-events: none;
}

.lightBar {
    position: absolute;
    top: 340px;
    left: 641px;
    width: 1029px;
    pointer-events: none;
}

/* 마우스 호버 */
.map div p {
    position: absolute;
    color: white;
    border-left: 2px solid white;
    padding: 0 10px;
    font-weight: 500;
    z-index: 1;
    opacity: 0%;
    transition: all 0.5s;
}

.map div p:after {
    position: absolute;
    content: ' ';
}

.map div img:hover+p {
    opacity: 100%;
}

.map div {
    display: inline-block;
}

.map .wrap10 p {
    top: 83px;
    left: 1054px;
    height: 70px;
}

.map .wrap9 p {
    top: 101px;
    left: 1203px;
    height: 162px;
}

.map .wrap8 p {
    top: 445px;
    left: 998px;
    height: 49px;
}

.map .wrap7 p {
    top: 545px;
    left: 998px;
    height: 85px;
}

.map .wrap6 p {
    top: 184px;
    left: 1423px;
    height: 124px;
}

.map .wrap5 p {
    top: 114px;
    left: 573px;
    height: 99px;
}

.map .wrap4 p {
    top: 123px;
    left: 853px;
    height: 99px;
}

.map .wrap3 p {
    top: 212px;
    left: 848px;
    height: 126px;
}

.map .wrap2 p {
    top: 113px;
    left: 717px;
    height: 242px;
}

.map .wrap1 p {
    top: 464px;
    left: 301px;
    height: 124px;
}

.map .wrap10 p,
.map .wrap8 p,
.map .wrap4 p,
.map .wrap1 p {
    border-left: none;
    border-right: 1.5px solid white;
    text-align: right;
}

/* 코스따라가기 */
.cls-0 {
    fill: none;
    stroke: #662d91;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
}

#n_course1 {
    width: 344px;
    position: absolute;
    top: 236px;
    left: 941px;
}

#n_course2 {
    width: 934px;
    position: absolute;
    top: 326px;
    left: 359px;
    display: none;
}

/* 조명움직이기 */
.cls-1 {
    isolation: isolate;
}

.cls-2 {
    opacity: 0.74;
}

.cls-3 {
    mix-blend-mode: screen;
    opacity: 0.57;
}

.cls-4 {
    mask: url(#mask);
}

.cls-5 {
    fill: url(#linear-gradient);
}

.cls-6 {
    fill: #ce2925;
}

.cls-7 {
    fill: #ea4747;
}

.cls-8 {
    fill: #e23d3d;
}

.cls-9 {
    fill: #4c49e8;
}

.cls-10 {
    fill: #4141d8;
}

.cls-11 {
    mask: url(#mask-2);
}

.cls-12 {
    fill: url(#linear-gradient-2);
}

.cls-13 {
    fill: #3a2534;
}

.cls-14 {
    filter: url(#luminosity-noclip-2);
}

.cls-15 {
    filter: url(#luminosity-noclip);
}
.ani {
    position: absolute;
    top: 274px;
    left: 331px;
    width: 948px;
    pointer-events: none;
}
#move1,
#move2{
    position: absolute;
}
#move1{
    transform-origin: right ;
    animation: move 2s infinite;
}
#move2{
    transform-origin: bottom ;
    animation: move2 2s infinite;
}
@keyframes move{
    0% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(1deg);
    }
    70%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes move2{
    0% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(-0.3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


/* #n1-1{stroke-dasharray: 500; stroke-dashoffset: -500;animation: Cn1 1s linear 0s forwards;}
#n1-2{stroke-dasharray: 500; stroke-dashoffset: -500;animation: Cn1 1.8s linear 0s forwards;}
#n1-3{stroke-dasharray: 500; stroke-dashoffset: -500;animation: Cn1 2s linear 0s forwards;}
#n1-4{stroke-dasharray: 500; stroke-dashoffset: -500;animation: Cn1-1 2s linear 2s forwards;}
#n1-5{stroke-dasharray: 500; stroke-dashoffset: -500;animation: Cn1 2s linear 1.8s forwards;}
@keyframes Cn1 {
   from {stroke-dashoffset : -500px;}
   to {stroke-dashoffset : 0px;}
}
@keyframes Cn1-1 {
    from {stroke-dashoffset : 500px;}
    to {stroke-dashoffset : 0px;}
 } */