@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Google_Notosans_font */
@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 을유 폰트 */

html {
    font-size: 16px;
    background: #f0f0f0;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* header디자인 */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #f0f0f046;
}
header .wrap {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .logo {
    background: url(../img/Logo_star.svg) no-repeat;
    background-position: center;
    width: 175px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
}

.navButton,
.navButton span {
    display: inline-block;
    transition: all .4s;
}

.navButton {
    position: relative;
    width: 32px;
    height: 28px;
}

.navButton span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f7f3ed;
    border-radius: 3px;
    z-index: 15;
}

.navButton span:nth-of-type(1) {
    top: 0;
}

.navButton span:nth-of-type(2) {
    top: 13px;
}

.navButton span:nth-of-type(3) {
    bottom: 0;
}


/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.navButton.active-1 span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
    background: #2F2725;
}

.navButton.active-1 span:nth-of-type(2) {
    opacity: 0;
}

.navButton.active-1 span:nth-of-type(3) {
    transform: translateY(-13px) rotate(45deg);
    background: #2F2725;

}
header .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    flex-direction: column;
    background: #f7f7f7bb;
    transform: translateX(100%);
    transition: transform 0.5s;
    box-shadow: 6px 6px 9px 2px #342D44;
}
header .menu a{
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    color: #2F2725;
    text-align: right;
    padding: 20px 100px 30px 0;
    position: relative;
    width: 200px;
}
/* 밑줄효과 애니메이션 */
header .menu a::after {
    width: 0%;
    height: 4%;
    background: #514b5c;
    content: "";
    position: absolute;
    bottom: 20%;
    right: 40%;
    z-index: 10;
}

header .menu a:hover::after {
    width: 80%;
    transition: width 0.5s;
}

header .menu a:hover{
    color: #2F2725;
}

header .menu.on {
    transform: translateX(0);
}
/* inner디자인 */
.background{
    background: url(../img/예매안내2.jpg) no-repeat;
    height: 500px;
    filter: brightness(90%);
    text-indent: -9999px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Eulyoo1945-SemiBold';
    color: #ffffff;
    text-indent: 0;
    padding-top: 100px;
    font-size: 2.2rem;
}
section {
    padding: 60px 0;
    margin: 0 100px;
}
div h2{
    font-family: 'Eulyoo1945-SemiBold';
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0 30px 0;
}
.Tbox{
    display: flex;
    justify-content: center;
}
p{
    color: rgb(63, 63, 63);
    border-bottom: 2px solid #40305f91;
    padding: 7px;
    width: 100%;
}
.Tbox p:first-child{
    font-weight: 500;
}
.sec1-1 {
    display: flex;
    justify-content: space-between;
}
.left,
.right{
    width: 46%;
}
.wrapper{
    background: #40305f;
}
.down div h2{
    color: white;
}
.down .sec2-1 ul{
    color: white;
}
.down .sec2-1 ul li{
    margin: 10px 0;
}
.sec2-1 a{
    text-decoration: none;
    font-weight: 500;
    color: #40305f;
    margin: 20px 0;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
}
.sec2-1 a:hover{
    background: none;
    border: 2px solid white;
    color: white;
}
.sec2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}