/* header디자인 */
header .logo {
    width: 130px;
    height: 70px;
}

header {
    height: 70px;
}

.navButton {
    width: 27px;
}

header .menu {
    width: 100%;
    align-items: center;
}

header .menu a {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0 30px 0;
    width: 150px;
}

header .menu a::after {
    left: 0%;
}

header .menu a:hover::after {
    width: 100%;
}
header .wrap {
    margin: 0 60px;
}
/* inner디자인 */
h1 {
    font-size: 2rem;
}
.background {
    height: 450px;
    background-size: cover;
}
section {
    margin: 0 60px;
}
.sec1-1 {
    flex-direction: column;
}
.left, .right {
    width: 100%;
}
.right{
    margin-top: 50px;
}
