/* header디자인 */
header .wrap {
    margin: 0 20px;
}

header .menu a {
    font-size: 1.2rem;
}
.cultureLogo, .cultureLogo2 {
    height: 75px;
    width: 125px;
    right: 35px;
}
/* inner디자인 */

h1 {
    font-size: 1.7rem;
}
.background {
    height: 400px;
}
section {
    padding: 30px 0;
    margin: 0 20px;
}
section .Tbox div:last-child h3 {
    font-size: 1rem;
    margin: 15px 0 8px 0;
}
section .Tbox div:last-child p {
    font-size: 0.9rem;
    font-weight: 400;
}
section .Tbox iframe {
    height: 300px;
}