@charset "UTF-8";

/* * {
    outline: 1px solid red;
} */

header .nav a span {
    display: block;
}

header .head .nav a {
    display: block;
}

header .head .nav a span {
    font-size: 40px;
}

header .head {
    line-height: 0px;
    margin: 0 60px;
}

/* nav 디자인 */
header .nav button {
    display: inline;
}
header .head .nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    flex-direction: column;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

header .head .nav .menu.on {
    transform: translateX(0);
}

header .head .nav .menu.off {
    transform: translateX(-100%);
}

header .head .nav .menu span {
    position: fixed;
    right: 0;
    top: 0;
}


header .head .nav button {
    background: none;
    border: none;
}

header .nav .menu a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0px;
    text-align: right;
    height: 60px;
    padding: 30px 60px 10px 0;
}

header .nav .menu a::after {
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
    transition: width 0.1s;
}

header .nav .menu a:hover {
    color: white;
}

header .nav span {
    display: block;
    color: white;
    font-size: 2rem;
}

header .nav .menu span {
    color: black;
    padding: 30px 60px 10px 0;
}

/* inner 디자인 */
.sec1 .main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.sec1 .rightBox,
.sec1 .leftBox {
    margin-bottom: 0px;
    width: 45%;
}

.sec1 .main .mainAn {
    margin-bottom: 0px;
}

.sec1 .mainAn {
    order: -1;
}

.sec1 .main .rightBox .right {
    background-position: right;
}