@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Google_Notosans_font */
@import url("https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
/* Material Icons Outlined*/


html {
    font-size: 16px;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
}

header .head {
    /* line-height: 90px; */
    height: 90px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    background: url(../img/Gallery_logo.svg) no-repeat;
    background-size: 100%;
    width: 150px;
    height: 55px;
    text-indent: -9999px;
    overflow: hidden;
}

header .nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 65px;
    text-align: center;
    position: relative;
    /* 형광펜효과때문에 삽입 */
    display: block;
    /* 형광펜효과때문에 삽입 */
}

header .nav,
header .nav .menu {
    display: flex;
}
header .nav button {
    display: none;
}

/* 형광펜효과 애니메이션 */
header .nav .menu a::after {
    width: 0%;
    height: 110%;
    background: #ffffff;
    content: "";
    position: absolute;
    bottom: 25%;
    top: -10%;
    left: -10%;
    z-index: -1;
}

header .nav .menu a:hover::after {
    width: 120%;
    transition: width 0.5s;
}

header .nav .menu a:hover {
    color: black;
}


/* inner디자인 */
.swiper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper-pagination {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.3rem;
    font-weight: 600;
    width: auto;
    bottom: auto;
    top: 90px;
    right: 100px;
}

div[class^="sec"] {
    background: black;
    height: 100%;
    padding-top: 90px;
    width: 100%;
}

div[class^="sec"] .main {
    margin: 25px 120px 0 120px;
    height: 100%;
}

.Sec6 .main {
    height: 100vh;
    margin: 0 120px;
}

div[class^="sec"] .main .page,
.Sec6 .main .page {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div[class^="sec"] .main .page span,
.Sec6 .main .page span {
    width: 30px;
    text-align: center;
}

div[class^="sec"] .main .title {
    color: white;
    width: 30%;
    margin-right: 10px;
}

div[class^="sec"] .main .title h1 {
    font-size: 1.3rem;
}

div[class^="sec"] .main .title h2 {
    margin-top: 10px;
    font-size: 1.3rem;
    width: 120px;
}

/* 메인 애니메이션 수정부분 */
#path,
#path2,
#path3,
#path4,
#path5 {
    width: 600px;
    height: 600px;
}
#line_x5F_up,
#path2,
#poly1,
#poly2,
#cir2,
#rec2,
#rec3,
#rec4,
#rec5,
#rec6 {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transform-origin: center ;
}
#line_x5F_up {
    animation-name: circle;
}
#path2{
    animation-name: scale;
}
#poly1 {
    animation-name: circle;
    animation-duration: 4.5s;
}
#poly2 {
    animation-name: circle2;
    animation-duration: 5s;
}
#cir2{
    animation-name: circle3;
}
#rec2,
#rec3,
#rec4,
#rec5,
#rec6 {
    animation-name: scale2;
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes circle2 {
    from {
        transform: rotate(-0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
@keyframes circle3 {
    0%{transform: rotate(0deg)}
    25%{transform: rotate(45deg)}
    50%{transform: rotate(90deg)}
    75%{transform: rotate(135deg)}
    100%{transform: rotate(180deg)}
}

@keyframes scale {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(2);
    }
}
@keyframes scale2 {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.st0,
.st1 {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}


/* 하단텍스트 바텀고정 */
.textbox {
    position: absolute;
    bottom: 50px;
    right: 120px;
}

div[class^="sec"] .main .inner {
    display: flex;
    align-items: center;
    height: 60vh;
}

#scroll {
    transform: rotate(90deg);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    background: url(../img/right.svg) no-repeat;
    width: 170px;
    height: 80px;
    border: none;
    position: fixed;
    z-index: 11;
    bottom: 25%;
    left: 50px;
}

.sec1 .main .bottom .textbox p {
    width: 85%;
    margin-top: 20px;
}

.sec1 .main .bottom .textbox,
div[class^="sec"] .main .textbox {
    color: white;
    text-align: right;
    width: 100%;
    letter-spacing: 0.5px;
    font-weight: 300;
    word-break: keep-all;
    line-height: 22px;
    font-size: 0.9rem;
    border-right: 1px solid white;
    padding-right: 20px;
    margin-top: 30px;
}

div[class^="sec"]:not(:first-child) .main .textbox {
    margin-top: 20px;
}

.sec1 .main .bottom {
    display: flex;
    align-items: flex-start;
    height: 25%;
}

div[class^="sec"] .main .textbox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

div[class^="sec"] .main .textbox p {
    width: 600px;
}

.Sec6 {
    background: url(../img/Gallery_img.png) no-repeat;
    background-size: 100% 160%;
    background-position: center center;
    height: 100%;
    background-attachment: fixed;
}

.Sec6 .main .textbox {
    color: white;
    text-align: right;
    width: fit-content;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.658);
    padding: 30px;
    position: absolute;
    bottom: 50px;
    right: 0;
}

.Sec6 .main {
    position: relative;
}

.Sec6 .main .page {
    color: black;
}

.Sec6-1 {
    height: calc(100vh - 40vh);
    margin: 0 120px;
    text-align: center;
}

.Sec6-1 .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Sec6-1 .top .map {
    background: url(../img/Gallery_map.svg) no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    overflow: hidden;
    width: 45%;
    height: 65%;
    border: 1px solid rgb(177, 177, 177);
}

.Sec6-1 .top .Tbox {
    text-align: right;
    width: 500px;
}

.Sec6-1 .top .Tbox div {
    padding-bottom: 40px;
    border-top: 1px solid rgb(177, 177, 177);
}

.Sec6-1 .top .Tbox div h3,
.Sec6-2 .bottom div h3 {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.Sec6-1 .top .Tbox div p,
.Sec6-2 .bottom div p,
.Sec6-2 .bottom div li {
    padding-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

.Sec6-2 {
    background: black;
    height: calc(100vh - 60vh);
}

.Sec6-2 .bottom {
    height: 100%;
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.Sec6-2 .bottom div {
    width: 50%;
    height: 300px;
}

.Sec6-2 .bottom div:first-child {
    padding-right: 50px;
}

.Sec6-2 .bottom div:last-child {
    padding-left: 50px;
}

.Sec6-2 .bottom div p {
    padding-bottom: 15px;
    color: white;
}

.Sec6-2 .bottom div li {
    padding-bottom: 10px;
    margin-left: 15px;
    color: white;
    font-weight: 400;
}

.Sec6-2 .bottom div h3 {
    border-top: 1px solid white;
}