@charset "UTF-8";

header .nav a span {
    display: block;
}

header .head .nav a {
    display: block;
}

header .head .nav a span {
    font-size: 40px;
}

header .head {
    line-height: 0px;
    margin: 0 60px;
}

/* nav 디자인 */
header .nav button {
    display: inline;
}
header .head .nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    z-index: 10;
    flex-direction: column;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

header .head .nav .menu.on {
    transform: translateX(0);
}

header .head .nav .menu.off {
    transform: translateX(-100%);
}

header .head .nav .menu span {
    position: fixed;
    right: 0;
    top: 0;
}

header .head .nav .menu span::after {
    height: 0;
}

header .head .nav .menu span:hover {
    color: black;
}

header .head .nav button {
    background: none;
    border: none;
}

header .nav .menu a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0px;
    text-align: right;
    height: 60px;
    padding: 30px 60px 10px 0;
}

header .nav .menu a::after {
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
    transition: width 0.6s;
}

header .nav .menu a:hover {
    color: white;
}

header .nav span {
    display: block;
    color: white;
    font-size: 2rem;
}

header .nav .menu span {
    color: black;
    padding: 30px 60px 10px 0;
}
/* 애니메이션 */
#path,
#path2,
#path3,
#path4,
#path5 {
    width: 500px;
    height: 500px;
}
.textbox {
    bottom: 50px;
    right: 60px;
}
div[class^="sec"] .main .inner {
    height: 70vh;
}
/* inner 디자인 */
div[class^="sec"] .main,
.Sec6 .main {
    margin: 0 60px;
}
.swiper-pagination{
    padding-right: 60px;
}
div[class^="sec"] .main .title h1 {
    font-size: 1.2rem;
}

div[class^="sec"] .main .title h2 {
    width: 110px;
}
div[class^="sec"] .main .title {
    width: 20%;
}

.sec1 .main .bottom .textbox p span {
    display: none;
}
.sec1 .main .bottom button div {
    font-size: 1rem;
    font-weight: 400;
}
.sec1 .main .bottom button{
    padding: 0 50px -50px 0;
}
.Sec6-1 .top {
    flex-direction: column;
}

.Sec6-1 {
    margin: 0 60px;
    text-align: right;
    height: 700px;
}

.Sec6-1 .top .Tbox div h3,
.Sec6-2 .bottom div h3 {
    padding-bottom: 10px;
}

.Sec6-1 .top .Tbox div {
    padding-bottom: 20px;
}

.Sec6-1 .top .map {
    text-align: left;
    margin: 20px 0;
    width: 100%;
    height: 100%;
}

.Sec6-1 .top .Tbox {
    width: 100%;
}

.Sec6-2 {
    height: 630px;
}

.Sec6-2 .bottom {
    margin: 0 60px;
    flex-direction: column;
}

.Sec6-2 .bottom div {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.Sec6-2 .bottom div:last-child {
    padding-left: 0;
}

.Sec6-2 .bottom div:first-child {
    padding-right: 0;
}
