@charset "UTF-8";
header .nav .menu a {
    padding: 30px 20px 10px 0;
}
header .nav .menu span {
    padding: 30px 20px 10px 0;
}
header .logo {
    width: 130px;
    height: 45px;
}

header .head {
    margin: 0 20px;
}

.main {
    margin: 0 20px;
}

.main .poster {
    width: 228px;
    height: 339px;
}

.main .info .Tbox h3 {
    font-size: 1.1rem;
    letter-spacing: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.main .info .Tbox p {
    font-size: 1rem;
    text-align: center;
}

.main .info .Tbox {
    flex-direction: column;
    margin: 10px 0;
}

.main .info .Tbox .button {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

.main .info .form {
    height: 80px;
}
header .logo {
    width: 100px;
    height: 40px;
}