@charset "UTF-8";

header .head .nav a:not(:last-child) {
    display: none;
}

header .head .nav a:last-child {
    display: block;
}

header .head .nav a:last-child span {
    font-size: 40px;
}

header .head {
    line-height: 0px;
    margin: 0 60px;
}

header .nav a:hover::after {
    width: 0%;
}

header .nav a:hover {
    color: white;
}

/* inner */
.main {
    margin: 0 60px;
}